<footer class="footer">

    <div class="container">
        <div class="is-social d-flex">

            <div class="is-social__link" title="Link us on Linkedin">
                <a rel="nofollow noreferrer" target="_blank" href="https://www.facebook.com/AsposeApp">
                    <svg class="icon">
                        <use xlink:href="#linkedin"></use>
                    </svg>
                </a>
            </div>

            <div class="is-social__link" title="Follow us on Twitter" >
                <a rel="nofollow noreferrer" target="_blank" href="https://www.facebook.com/AsposeApp">
                    <svg class="icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
            </div>

            <div class="is-social__link" title="Like us on Facebook">
                <a rel="nofollow noreferrer" target="_blank" href="https://www.facebook.com/AsposeApp">
                    <svg class="icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
            </div>

            <div class="is-social__link" title="Our contacts">
                <a rel="nofollow noreferrer" target="_blank" href="https://www.facebook.com/AsposeApp">
                    <svg class="icon">
                        <use xlink:href="#headphones"></use>
                    </svg>
                </a>
            </div>

            <div class="is-social__link" title="Free Support">
                <a target="_blank" rel="nofollow noreferrer" href="https://about.aspose.app/contact/">
                    <svg class="icon">
                        <use xlink:href="#notebook-of-contacts"></use>
                    </svg>
                </a>
            </div>

        </div>

        <div class="footer__copyright d-flex">
            <div class="footer__text">
                <p>
                    &copy;
                    <a target="_blank" rel="nofollow noreferrer" href="https://www.aspose.company">Aspose Pty Ltd</a>
                   <span>
                        2001-2021. All
                        Rights Reserved.
                   </span>
                </p>
            </div>
            <div class="footer__anchor">
                <span class="footer__bottom">
                    <a target="_blank" rel="nofollow noreferrer" href="https://about.aspose.app/legal/privacy-policy">Privacy Policy</a>
                    <a target="_blank" rel="nofollow noreferrer" href="https://about.aspose.app/legal/tos">Terms of Service</a>
                </span>
            </div>
        </div>

    </div>
</footer>