<header class="header">
    <div class="conatiner-xxl">
        <nav class="navbar navbar-expand-lg navbar-light text-uppercase">
            <div class="container-fluid justify-content-around">
                <a class="navbar-brand" href="#">
                    <img src="../img/logo.png" alt="aspose">
                    ASPOSE
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="#">Our products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Webites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>

                    </ul>

                    <div class="header__interaction d-flex">
                        <div class="header__lang mx-3">
                            <svg class="me-2">
                                <use xlink:href="#lang"></use>
                            </svg>
                            <span class="languare">RU</span>
                        </div>
                        <div class="header__user">
                            <svg class="icon">
                                <use xlink:href="#user"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</header>